ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  text-align: center;
  width: fit-content;
  height: 100%;
  padding: 0.5rem;
}

.submenu {
  display: none;
  z-index: 1;
  background-color: white;
  color: black;
}

li:hover .submenu {
  display: block;
}

.submenu-item,
.label {
  cursor: pointer;
  padding: auto;
  width: 100%;
}
.submenu-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
